<form action="#">
  <div class="form-group">
    <label for="new-words">Input new words:</label>
    <input #nwords type="text" class="form-control" id="new-words">
  </div>
  <button class="btn btn-primary" (click)="addWords(nwords)">Add</button>
</form>
<div>{{myWords.toString()}}</div>
<div class="alert alert-success" role="alert" [@testAnim]="stateAnim" (@testAnim.done)="afterAnim($event)">
  <strong>Well done!</strong> You successfully read this important alert message.
</div>
<button class="btn" (click)="anim()">Go</button>
