<form action="#">
  <div class="form-group">
    <label for="new-words">Input new words:</label>
    <input #nwords type="text" class="form-control" id="new-words">
  </div>
  <button class="btn btn-primary" (click)="addWords(nwords)">Add</button>
</form>
<div>{{myWords.toString()}}</div>
<div class="alert alert-success" role="alert" [@testAnim]="stateAnim" (@testAnim.done)="afterAnim($event)">
  <strong>Well done!</strong> You successfully read this important alert message.
</div>
<button class="btn" (click)="anim()">Go</button><br><br>
<button class="btn" (click)="sModal.show()">Modal</button>
<div class="modal fade" btModal #sModal="bt-modal" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title pull-left">Static modal</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="sModal.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        This is static modal, backdrop click will not close it.
        Click <b>&times;</b> to close modal.
      </div>
    </div>
  </div>
</div>

